@{
    ViewBag.Title = "Publish Message to Channel A";    
}

<h2>Publish Message to Channel A</h2>
@using (Html.BeginForm())
{
    <div>
        <label for="content">Content:</label>
        <input type="text" name="content" />
        <button type="submit">Publish to A</button>
    </div>
   
}
