@{
    ViewBag.Title = "Publish Message";
}

<h2>Publish Message To ChannelBQueue</h2>

@using (Html.BeginForm())
{
    <div>
        <label for="content">Content:</label>
        <input type="text" name="content" />
        <button type="submit">Publish Message</button>
    </div>
}

<p>
    @Html.ActionLink("Back to Index", "Index")
</p>